.profile {
  display: flex;
  position: relative;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin: 34px 20px 20px 0;
  width: 190px;
  height: 190px;
}

.profile__wrap {
  display: flex;
  flex-direction: column;
  margin: 34px 0 20px;
}

.profile__title {
  max-width: 420px;
  margin: 0;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 500;
  font-style: medium;
  line-height: 1;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  max-width: 420px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__button-edit {
  padding: 0;
  max-width: 110px;
  max-height: 16px;
  border: none;
  opacity: 70%;
  margin-top: auto;
}

.profile__button-edit:hover {
  border-radius: 90px;
  border: 1px solid;
  cursor: pointer;
}

.profile__button-edit-image {
  margin-right: 8px;
  width: 18px;
  opacity: 70%;
}

.profile__button-new {
  width: 149px;
  height: 52px;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: #212121;
  color: #fcf5e5;
}

.profile__button-new:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__button-new-image {
  width: 12px;
  height: 12px;
  margin-right: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__wrap {
    margin: 0;
  }

  .profile__avatar {
    margin: 20px 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__title {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__button-new {
    margin: 0;
    margin-bottom: 20px;
    position: static;
    bottom: auto;
    right: auto;
    width: 288px;
    height: 52px;
  }

  .profile__button-edit {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
